<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form class="login100-form validate-form">
                <span class="login100-form-title p-b-70">
          Welcome to Oup Hub 
        </span>
                <span class="login100-form-avatar">
          <img src="https://www.w3schools.com/w3images/avatar2.png" alt="AVATAR">
        </span>
                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
                    <input class="input100" type="text" placeholder="Username" name="username">
                </div>
                <div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input class="input100" type="password" placeholder="Password" name="pass">
                </div>
                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">Sign in</button>
                </div>
                <div>

                </div>
                <ul class="login-more p-t-190">
                    <li>
                        <app-registration></app-registration>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>