<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100 p-t-85 p-b-20">
      <p>{{errorMassege}}</p>
      <form class="login100-form validate-form" [formGroup]="userAuthenticationForm">
        <span class="login100-form-title p-b-70">
          Welcome to Oup Hub
        </span>
        <span class="login100-form-avatar">
          <img src="https://www.w3schools.com/w3images/avatar2.png" alt="AVATAR">
        </span>
        <div class="wrap-input100 validate-input m-t-85 m-b-35">
          <input class="input100" type="text" placeholder="Username" formControlName='username'>
        </div>
        <div class="wrap-input100 validate-input m-b-50">
          <input class="input100" type="password" placeholder="Password" formControlName='password'>
        </div>
        <div class="container-login100-form-btn">
          <button class="login100-form-btn" (click)="doAuthentication()">Sign in</button>
        </div>
        <div>

        </div>
        <ul class="login-more p-t-190">
          <li>
            <app-registration></app-registration>
          </li>
        </ul>
      </form>
    </div>
  </div>
</div>
